<!DOCTYPE html>
<html>
<head>
    <title>康佳位置服务平台|Konka LBS</title>
    <meta name="Author" content="NineTang">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="../css/index.css"/>
    <link rel="stylesheet" href="../css/zTreeStyle/zTreeStyle.css"/>
</head>
<body>
<div id="ControlPanel">
    <div id="accordion">
        <h3 class="ui-widget-header">组织架构</h3>

        <div id="CompanyOrg" class="ztree group">
            <img src="../images/loading/loadinglit.gif" alt=""/>
        </div>
        <h3 class="ui-widget-header">电子围栏</h3>

        <div id="E-Zone" class="group">
            <p><a href="">显示围栏</a></p>

            <p><a href="">绘制围栏</a></p>
        </div>

        <h3 class="ui-widget-header">运行记录</h3>

        <div id="WorkingLog" class="group">
            <img src="../images/loading/loadinglit.gif" alt=""/>
        </div>
    </div>
</div>
</div>
<div id="Perspective">
    <ul id="menuTab">
        <li><a href="#RTMonitor">实时监控</a></li>
        <li><a href="#Playback">轨迹回放</a></li>
        <li><a href="#CtrlCenter">管理中心</a></li>
        <li><a href="test.html"> 外部加载测试</a></li>
    </ul>
    <div id="RTMonitor">
        <div class="transition">
            <img src="../images/loading/loadinglit.gif" alt=""/>

            <p>正在努力加载地图，请稍候...</p>
        </div>

    </div>
    <div id="Playback">
        <div class="transition">
            <img src="../images/loading/loadinglit.gif" alt=""/>

            <p>正在努力加载地图，请稍候...</p>
        </div>
    </div>
    <div id="CtrlCenter">
        <div class="transition">
            <img src="../images/loading/loadinglit.gif" alt=""/>

            <p>正在努力加载组件，请稍候...</p>
        </div>
    </div>
</div>

<div id="MaskLayer">

    <img src="../images/loading/loadinglit.gif" alt=""/>

    <p>正在加载组件，请稍候...</p>
</div>
<script type="text/javascript" src="../lib/jquery-1.9.1.js"></script>
<script type="text/javascript" src="../lib/jquery-ui.js"></script>
<script type="text/javascript" src="../js/layout.js"></script>
<!--<script type="text/javascript" src="../lib/jquery.ztree.all-3.5.min.js"></script>-->
<script type="text/javascript" src="../lib/jquery.ztree.all-3.5.js"></script>
<script type="text/javascript" src="../js/CompanyOrg.js"></script>
<script type="text/javascript" src="../js/API.js"></script>
</body>
</html>