<!DOCTYPE html>
<html>
<head>
    <title>康佳位置服务平台|Konka LBS</title>
    <meta name="Author" content="NineTang">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="../css/index.css"/>
    <link rel="stylesheet" href="../css/zTreeStyle/zTreeStyle.css"/>
</head>
<body>
<div id="ControlPanel">
    <div id="accordion">
        <h3 class="ui-widget-header">组织架构</h3>

        <div id="CompanyOrg" class="ztree group">
            <img src="../images/loading/loadinglit.gif" alt=""/>
        </div>
        <h3 class="ui-widget-header">电子围栏</h3>

        <div id="E-Zone" class="group">
            <p><a href="">显示围栏</a></p>

            <p><a href="">绘制围栏</a></p>
        </div>

        <h3 class="ui-widget-header">运行记录</h3>

        <div id="WorkingLog" class="group">
            <img src="../images/loading/loadinglit.gif" alt=""/>
        </div>
    </div>
</div>
</div>
<div id="Perspective">
    <ul id="menuTab">
        <li><a href="#Position">实时监控</a></li>
        <li><a href="#Playback">轨迹回放</a></li>
        <li><a href="#CtrlCenter">管理中心</a></li>
        <li><a href="test.html"> 外部加载测试</a></li>
    </ul>
    <div id="Position"></div>
    <div id="Playback"></div>
    <div id="CtrlCenter">
        <img src="../images/loading/loadinglit.gif" alt=""/>
    </div>
</div>

<div id="MaskLayer">
    <!--<loading src="../images/loading/maskLoading.gif" alt=""/>-->
    <img src="../images/loading/loadinglit.gif" alt=""/>

    <p>页面正在加载，请稍候...</p>
</div>
<script type="text/javascript" src="../lib/jquery-1.9.1.js"></script>
<script type="text/javascript" src="../lib/jquery-ui.js"></script>
<script type="text/javascript">
    var DEBUG = true;
    $(function () {
        $('#accordion')
                .accordion({
                    heightStyle: "fill"
                })
                .sortable({
                    axis: 'y',
                    handle: 'h3',
                    stop: function (event, ui) {
                        // IE doesn't register the blur when sorting
                        // so trigger focusout handlers to remove .ui-state-focus
                        ui.item.children("h3").triggerHandler("focusout");
                    }
                });
        $('#ControlPanel')
                .resizable({
                    handles: "e", //右
                    maxWidth: 450,  //px
                    minWidth: 250,
                    resize: function (event, ui) {
                        //var ml = $('#Perspective').css('marginLeft');
                        $("#accordion").accordion("refresh");
                        $('#Perspective').css('marginLeft', this.clientWidth);
                        //ui.width();
                    }
                });


        var perspective = $('#Perspective').tabs();
        perspective.find('.ui-tabs-nav').sortable({
            axis: 'x',
            stop: function () {
                perspective.tabs('refresh');
            }
        });
        //至此：交互布局完成
        $('#MaskLayer').hide();

        //$('#ControlPanel').show('drop');
        $('#ControlPanel').animate({marginLeft: '0'}, 'slow', function () {
            //初始化组织架构
            var admin = {cid: 1};
            CompanyOrg.init(admin.cid);
        });

        //初始化地图

    });
</script>
<!--<script type="text/javascript" src="../lib/jquery.ztree.all-3.5.min.js"></script>-->
<script type="text/javascript" src="../lib/jquery.ztree.all-3.5.js"></script>
<script type="text/javascript" src="../js/CompanyOrg.js"></script>
<script type="text/javascript" src="../js/API.js"></script>
</body>
</html>