<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="Author" content="NineTang">
    <style type="text/css">
        body, html, #allmap {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
        }
    </style>
</head>
<body>

<div id="allmap"></div>
<script type="text/javascript" src="../lib/jquery-1.9.1.js"></script>
<!--<script type="text/javascript" src="../lib/jquery-1.9.1.js"></script>
<script type="text/javascript" src="../js/API.js"></script>-->
<script type="text/javascript">
    var url = 'http://api.map.baidu.com/getscript?v=2.0&ak=9d1f784b156ff52c505bfdff123792fc&services=&t=20130916114116';
    $.getScript(url, function () {
        // 百度地图API功能
        var map = new BMap.Map("allmap");            // 创建Map实例
        var point = new BMap.Point(116.404, 39.915);    // 创建点坐标
        map.centerAndZoom(point, 15);                     // 初始化地图,设置中心点坐标和地图级别。
        map.enableScrollWheelZoom();                          //启用滚轮放大缩小
    });


</script>
</body>
</html>